<div class="container-fluid">
  <div class="first-view">
    <div class="line-1 anim-typewriter first-view-text">
      無料で髪を切ろう
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      <div class="about-text visible-sp">
        <p>Hairiah(ヘアリア)は、</p>
        <p>無料で髪を切りたい人と</p>
        <p>カットモデルを募集する美容師を</p>
        <p>マッチングさせるサービスです。</p>
      </div>
      <div class="about-text hidden-sp">
        <p>Hairiah(ヘアリア)は、無料で髪を切りたい人と</p>
        <p>カットモデルを募集する美容師をマッチングさせるサービスです。</p>
      </div>
    </div>
    <div class="hairiah-feature row text-center">
      <span class="feature-text arrow-border">
        Hairiahの簡単な利用方法
      </span>
      <div class="feature-outer row">
        <div class="col-md-3 text-center col-md-offset-1-5">
          <div class="feature-inner">
            <div class="feature-inner-text">
              1分で簡単登録！
            </div>
            <div class="feature-icon">
              <i class="fa fa-id-badge"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="feature-inner">
            <div class="feature-inner-text">
              声がかかるor自分から応募！
            </div>
            <div class="feature-icon">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="feature-inner">
            <div class="feature-inner-text">
              あとはメッセージで日程調整！
            </div>
            <div class="feature-icon">
              <i class="fa fa-comments-o"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="path-inner">
      <div class="text-center detail-text">
        <span class="arrow-border arrow-border-right">
          詳しい利用方法
        </span>
      </div>
      <a href="/usage", class="path-btn">
        <i class="fa fa-search-plus"></i>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <span class="register-text arrow-border">さっそく会員登録</span>
    <div class="row">
      <div class="col-xs-6 col-md-3 col-md-offset-3 text-center">
        <div class="path-inner">
          <div class="path-text-outer">
            髪を切ってほしい方
          </div>
          <a href="/signup_page", class="path-btn">
            <i class="fa fa-id-badge"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 text-center">
        <div class="path-inner">
          <div class="path-text-outer">
            美容師の方
          </div>
          <a href="/staff_usage", class="path-btn">
            <i class="fa fa-cut"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="hairiah-feature row hairiah-faq text-center">
    <span class="feature-text arrow-border">
      Hairiahの特徴
    </span>
    <div class="feature-outer row row-eq-height">
      <div class="col-md-3 text-center col-md-offset-1-5">
        <div class="box26">
          <span class="box-title"><i class="fa fa-circle circle-red"></i> お金はかからないの？</span>
          <p>登録料・利用料は一切かかりません。カットは原則無料ですが、カラー・パーマなどの料金は美容師とのご相談となります。また美容室までの交通費は自己負担となります。</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="box26">
          <span class="box-title"><i class="fa fa-circle circle-red"></i> なんで無料なの？</span>
          <p>技術の向上のために、お金を頂かなくても切らせていただきたいという美容師は多数います。向上心のある美容師のためにぜひご協力ください。</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="box26">
          <span class="box-title"><i class="fa fa-circle circle-red"></i> 変な髪形にされない？</span>
          <p>あらかじめメッセージ機能で、希望の髪型を伝えることができます。合わないと感じたら別の美容師に連絡してみましょう。</p>
        </div>
      </div>
    </div>
  </div>
</div>
