<div class="first-view">
  <div class="line-1 anim-typewriter first-view-text">
    無料で髪を切ろう
  </div>
</div>
<!-- <div class="row">

</div>
<div class="row">
  <div class="col-md-4">
    a
  </div>
  <div class="col-md-4">
    b
  </div>
  <div class="col-md-4">
    c
  </div>
</div> -->
