<% provide(:title, 'About') %>

<h1>特定商取引法に基づく表記</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>販売業者</td>
      <td>Hairiah</td>
    </tr>
    <tr>
      <td>販売価格</td>
      <td>販売価格（税込）は、各種有料サービスに関する該当ページをご参照ください。</td>
    </tr>
    <tr>
      <td>商品代金以外の料金の説明</td>
      <td>なし（表示価格は税込みです）</td>
    </tr>
    <tr>
      <td>支払い方法</td>
      <td>
        ●クレジットカード決済
        <br>
        <br>
        一括払いのみとなっております。またお使いいただけるクレジットカードは以下になります。
        <br>
        VISA / Master Card / American Express / Diners / JCB
        <br>
        <br>
        ●コンビニ決済
        <br>
        <br>
        お使いいただけるコンビニは以下になります。
        <br>
        ローソン / セイコーマート
        <br>
        <br>
        当サービスは、<a href="https://www.epsilon.jp/">クレジットカード決済代行のGMOイプシロン株式会社</a>の決済代行システムを利用しております。
        <br>
        ご注文後、イプシロン決済画面へ移動いたしますので決済を完了させてください。
        <br>
        安心してお支払いをしていただくために、お客様の情報がイプシロンサイト経由で送信される際にはSSL(128bit)による暗号化通信で行い、
        <br>
        クレジットカード情報は当サイトでは保有せず、同社で厳重に管理しております。
        <br>
        <br>
        なお、コンビニ決済の場合、払込票番号はイプシロンよりご案内がございます。
        <br>
        お支払い後に発行される領収書には「インターネットイプシロン」と表示されます。
        <br>
        <br>
        なお、当サービスに関するお問い合わせは、上記メールアドレスまでお願いいたします。
      </td>
    </tr>
    <tr>
      <td>支払い時期</td>
      <td>
        ●クレジットカード決済
        <br>
        <br>
        ご利用のカード会社ごとに異なります。
        <br>
        <br>
        ●コンビニ決済
        <br>
        <br>
        ご注文日から1週間以内にお支払いください。
      <td>
    </tr>
    <tr>
      <td>商品の引渡時期</td>
      <td>代金決済確認後、直ちにご利用頂けます。</td>
    </tr>
    <tr>
      <td>返金・キャンセル</td>
      <td>
        ＜クーリング・オフについて＞
        <br>
        本サービスはクーリング・オフ適用対象外です。
        <br>
        <br>
        ＜サービス提供開始後の解約について＞
        <br>
        当社所定の規定に従ってご解約頂けます。ただし、すでに支払い完了した代金に関しての返金はお受け出来ません。
      </td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td>hairiah.info@gmail.com</td>
    </tr>
  <tbody>
</table>

<div style="margin-bottom:30px;">※上記以外の事項に関しましては、お取引の際に請求があれば遅延なく提示いたします。</div>
