<% provide(:title, 'About') %>

<h1>特定商取引法に基づく表記</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>販売業者</td>
      <td>Hairiah 鵜飼真</td>
    </tr>
    <tr>
      <td>運営責任者</td>
      <td>鵜飼真</td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td>0000000000</td>
    </tr>
    <tr>
      <td>住所</td>
      <td>ーーーーーーーー</td>
    </tr>
    <tr>
      <td>販売価格</td>
      <td>販売価格（税込）は、各種有料サービスに関する該当ページをご参照ください。</td>
    </tr>
    <tr>
      <td>商品代金以外の料金の説明</td>
      <td>なし（表示価格は税込みです）</td>
    </tr>
    <tr>
      <td>支払い方法</td>
      <td>
        クレジットカード決済、およびPayPalアカウントによる決済
        <br>
        <br>
        ● クレジットカード決済について
        <br>
        一括払いのみとなっております。またお使いいただけるクレジットカードは以下になります。
        <br>
        VISA / Master Card / American Express / Diners
        <br>
        <br>
        ● PayPalアカウントによる決済について
        <br>
        PayPalアカウントによる決済では、別途PayPalへの支払情報の登録が必要になります。詳しくはPayPalのホームページをご覧ください。
      </td>
    </tr>
    <tr>
      <td>支払い時期</td>
      <td>初回の支払いは、有料プラン登録時に実施され、次回支払いは翌月の同日同時間となります（翌月に同日がない場合は、翌月末日の同時間となります）。</td>
    </tr>
    <tr>
      <td>商品の引渡時期</td>
      <td>代金決済確認後、直ちにご利用頂けます。</td>
    </tr>
    <tr>
      <td>返金・キャンセル</td>
      <td>
        ＜クーリング・オフについて＞
        <br>
        本サービスはクーリング・オフ適用対象外です。
        <br>
        <br>
        ＜サービス提供開始後の解約について＞
        <br>
        当社所定の規定に従ってご解約頂けます。ただし、すでに支払い完了した代金に関しての返金はお受け出来ません。
      </td>
    </tr>
  <tbody>

</table>
