<div class="signup_page">
  <div class="row">
    <a href="/auth/facebook", class="signup_btn">
      <div class="btn btn-primary btn-lg">Facebookでログイン</div>
    </a>
  </div>
  <div class="row">
    <a href="/auth/line", class="signup_btn">
      <div class="btn btn-success btn-lg">LINEでログイン(not yet)</div>
    </a>
  </div>
  <div class="row">
    <a href="/signup", class="signup_btn">
      <div class="btn btn-default btn-lg">メールアドレスでログイン</div>
    </a>
  </div>
</div>
