<h1>Hairiah</h1>

<p><%= @user.name %>さん、Hairiahへのご登録ありがとうございます！</p>

<p>
以下のURLをクリックしてユーザー認証を行ってください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
