<h1>パスワードリセット</h1>

<p>以下のURLをクリックしてパスワードをリセットしてください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは２時間で無効になります。</p>

<p>このメールに心当たりがない場合は、メールを削除してください。パスワードは変更されませんのでご安心ください。</p>
