<% @user ||= current_user %>
<div class="stats row">
  <div class="stats-inner col-md-4">
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      フォロー
    </a>
  </div>
  <div class="stats-inner col-md-4">
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      フォロワー
    </a>
  </div>
</div>
