h1 {
  font-size: 2em;
}

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixin定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

.hidden-sp {
  @include mq-down() {
    display: none;
  }
}
.visible-sp {
  @include mq-up() {
    display: none;
  }
}

.visible-xl {
  @include mq-down(xl) {
    display: none;
  }
}

input, textarea, select{
  font-size: 16px !important;
  background-color: white;
  // -webkit-appearance : none;
}

select {
//   border : 1px solid #ccc;
  -webkit-border-radius : 0;
  -webkit-appearance : none;
  -webkit-tap-highlight-color : rgba(0,0,0,0);
}
.fix-input-lg {
  line-height: 1.33333333 !important;
}
