div.message_form {
  padding-top: 10px;
}

#message_sender {
  font-size: 0.8em;
}

#message_content {
  font-size: 1.2em;
  padding: 10px 0;
  span {
    background-color: gainsboro;
    padding: 5px;
  }
}

.message {
  margin-bottom: 10px;
}
