@import "global";
.find-users {
  @include mq-down(xl) {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    padding: 80px 15px 15px 15px;
    overflow-y: scroll;
    height: 100%;

  }
  .search-form-inner {
    // height: 100%;
    // width: 100%;
    // overflow: scroll;
    // -webkit-overflow-scrolling: touch;
  }
}
.search-hamburger-open-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  @include mq-up(xl) {
    display: none;
  }
  i {
    margin-right: 5px;
  }
}
.search-hamburger-close-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 101;
  i {
    margin-right: 5px;
  }
}

@include mq-down(md) {
  #search-reset-btn {
    margin-top: 15px;
  }
}
