@import "global";
// signin
.signin-upper-up {
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}
.signin-upper {
  margin-bottom: 40px;
  border-bottom: 1px solid #cccccc;
}
// .signin-form {
//   width: 250px;
//   margin: 0 auto;
//   @include mq-down() {
//     width: 100%;
//   }
// }
.signin-check {
  width: 100%;
}

.signin-upper-down {
  padding: 10px 0;
}
