@import "global";
@include mq-up(lg) {
  .staff-usage-line-fix {
    padding: 1.5em 0;
  }
}
.staff-usage-1 {
  .first {
    font-size: 1.3em;
    font-weight: bold;
  }
  .second {
    padding: 20px 0 10px;
    font-size: 1.2em;
  }
  .third {
    font-size: 1.2em;
  }
  .fourth {
    font-size: 1.2em;
    padding-top: 10px;
  }
}
.group-text {
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.staff-usage {
  .hairiah-feature {

  }
}
