.row {
  margin-bottom: 20px;
}

.user-form-options {
  border: 2px dashed;
  padding: 15px;
}

.required {
  font-size: 0.7em;
  color: red;
}

.options-label {
  margin-bottom: 5px;
}

// .form-control {
//   @media screen and (max-width: 767px) {
//     height: 60px;
//   }
// }
