@import "global";
// user-index
.user-item {
  margin-bottom: 10px;
}
.users {
  padding-left: 0;
}

.user-item img {
  height: 120px;
  @include mq-up(sm) {
    height: 150px;
  }
  @include mq-up() {
    height: 300px;
  }
}
.fa-star {
  color: #ffcc66;
}
.last-login {
  font-size: 0.9em;
}

.followers-count {
  margin-left: 2.5px;
}

// user-show
.carousel-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-image {
  width: 100%;
  height: auto;
}

#follow_form {
  .btn {
    font-size: 0.7em;
  }
}

.user-tag {
  border: 1px solid #0099cc;
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
