// user-index
.user-item {
  height: 320px;
}

.user-item img {
  height: 250px;
}

// user-show
.carousel-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-image {
  width: 100%;
  height: auto;
}
